/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** css reset **/

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
*,*:after,*:before {
box-sizing: border-box;
}

/** Pages **/
/*Mobile style*/
html{
    font-family: 'Montserrat', sans-serif;
    color: #333131;
}
body{
    background-color: #F7F7FF;
}
h1{
    font-size: 400%;
    margin-right: 150px;
    font-weight: bolder;
    line-height: 5.3rem;
    padding: 30px 0 10px 20px;
    margin: 0 20px 0 30px;
}
h2{
	font-size: 280%;
    font-weight: bold;
    line-height: 3.8rem;
}
h3{
    font-size: 180%;
    margin: 20px 10px 0 50px;
    line-height: 3rem;
}
h4{
    margin: 10px 0;
    font-size: 150%;
    font-weight: bold;
    line-height: 1.4rem;
}
h5, h6{
    margin: 5px 0;
    font-size: 100%;
    line-height: 1.8rem;
    display: inline;
}
h6{
    color: #ff8480;
}
footer{
    background-color: #FFFD8C;
    padding: 20px 40px 20px 40px;
}

/*body*/
.header{
    display: block;
    padding: 20px 0 0 0;
}
.logo{
    margin: 20px 0 0 50px;
}

.container{
    display: block;
    background-color: #ffffff;
	width: 80%;
    height: auto;
	margin: 20px auto 60px auto;
    border: 5px solid white;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 5px 5px #c2c2c2;
}
#form{
	background: white;
	padding: 25px;
	margin: 50px 0;
}
input{
    border-radius: 10px;
    background-color: #f7f7ff;
    font-size: 120%;
    border-style: none;
    padding: 15px;
    margin: 10px 0 10px 0;
}
#contact-form{
	margin: 0 0 10px;
	min-width: 100%;
	padding: 20px;
    width: 100%;
}
button[type="submit"]{
    background-color: #57eeab;
    font-size: 160%;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    margin: 10px 0 10px 0;
}

/*footer*/
#hours, #city, button[type="calculate"]{
    display: inline;
}
#hours{
    max-width: 25%;
}
#city{
    max-width: 65%;
}
button[type="calculate"]{
    color: #f7f7ff;
    background-color: #ff8480;
    font-size: 160%;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
}
.icons{
    text-align: center;
}
#facebook, #instagram, #twitter, #linkedin{
    padding: 4git0px 10px 20px 10px;
}

/*Responsive website*/
@media (min-width: 540px){
    .change-font-size{
        font-size: 180%;
        margin: 20px 10px 0 0;
        line-height: 3rem;
    }
    h4{
        margin: 10px 10px;
    }
    h5{
        margin: 5px 10px;
    }
    footer{
        padding: 20px 40px 20px 50px;
    }
    #hours, #city, button[type="calculate"]{
        margin: 0 0 0 10px;
    }
    button[type="calculate"]{
        width: 260px;
    }
    #facebook, #instagram, #twitter, #linkedin{
        padding: 40px 10px 20px 10px;
    }
}
@media (min-width: 1024px){
    h4{
        margin: 10px 20px;
    }
    h5{
        margin: 5px 20px;
    }
    footer{
        padding: 20px 40px 20px 50px;
    }
    body{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    footer{
        grid-column: 1/span 12;
    }
    .background{
        grid-column: 1/span 12;
        grid-row-start: 1;
    }
    .header{
        grid-column: 2/span 4;
        grid-row-start: 1;
    }
    .container{
        grid-column: 8/span 4;
        grid-row-start: 1;
        width: 100%;
        margin: 150px 0 60px 0;
    }
    #hours, #city, button[type="calculate"]{
        float: left;
        margin: 0 0 0 20px;
    }
    .icons{
        float: right;
        margin: 0 50px 0 0;
    }
    #facebook, #instagram, #twitter, #linkedin{
        padding: 40px 10px 20px 10px;
    }
}